@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&family=Raleway:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');


body {
    background: #000;
    color: #fff;
    font-family: "Exo 2", sans-serif;
    margin: 0px;
}

p {

    font-family: "Raleway", sans-serif !important;
}

.programa-astronautas {
    text-align: center;
    position: relative;
    height: 100dvh;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0) 60%),
        url("../img/AstronautaNaLua.png") center/cover no-repeat;
}

.texto-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 900px;
    text-align: center;
}

.texto-centro h1 {
    font-size: 56px;
    margin-bottom: 15px;
}

.texto-centro h3 {
    font-size: 24px;
    margin-bottom: 8px;

}


.titulo {
    font-size: 32px;
    margin: 40px 0;
}

.galeria {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 0 20px;
}

.card {
    width: 260px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}

.foto {

    transition: transform 0.25s ease;
}

.foto:hover {

    transform: translateY(-6px);
}

.nome {
    margin-top: 15px;
    padding: 8px 20px;
    background: #2e2e2e;
    border-radius: 20px;
    font-size: 18px;
}

.descricao {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-top: 15px;
    border-radius: 15px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.banner-treinamento {
    position: relative;
    height: 550px;
    overflow: hidden;
    padding-top: 50px;
}

.banner-treinamento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.banner-treinamento h1 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}


.texto-treinamento {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}


.galeria-treinamento {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 220px);
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.galeria-treinamento img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.45);
    filter: brightness(92%);
}

.galeria-treinamento img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.7);
    filter: brightness(100%);
}


.curiosidades-container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.curiosidades-container h1 {
    font-size: 36px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.lista-curiosidades {
    list-style: none;
    margin: 0 auto 60px;
    width: 100%;
    font-size: 20px;
    line-height: 32px;
}

.lista-curiosidades li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.quote-card {
    background: #1a1a1a;
    padding: 25px;
    display: flex;
    gap: 25px;
    border-radius: 14px;
    align-items: center;
}

.quote-card img {
    width: 230px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;

    transition: transform 0.25s ease;
}

.quote-card img:hover {

    transform: translateY(-3px);
}

.quote-text {
    text-align: left;
}

.quote-text p {
    font-size: 20px;
    line-height: 32px;
}

.quote-text span {
    opacity: 0.7;
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

@media (max-width: 900px) {
    .galeria-treinamento {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-treinamento h1 {
        font-size: 30px;
    }
}

@media (max-width: 480px) {

    .texto-centro h1 {
        font-size: 26px;
    }

    .texto-centro h3 {
        font-size: 15px;
    }

    .galeria {
        flex-direction: column;
    }

    .card {
        width: 90%;
        max-width: 330px;
    }

    .galeria-treinamento {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 25px;
    }

    .banner-treinamento {
        height: 250px;
    }

    .quote-card {
        flex-direction: column;
        text-align: center;
    }

    .quote-card img {
        width: 90%;
        height: auto;
    }

    .quote-text {
        text-align: center;
    }
}


@media screen and (max-width: 768px) {

    .programa-astronautas {

        height: 107dvh;
    }

    .galeria-astronauta {

        margin-top: 0px;
    }

    .galeria {

        padding-right: 0px;
    }

    .galeria-treinamento {

        padding: 0px;
        width: 0px;

        img {

            width: 275px;
            height: 275px;
        }
    }

    .galeria-treinamentos-display {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .curiosidades-container {

        padding: 0px;
    }

    .lista-curiosidades {

        width: 375px;
        padding: 0px;
    }

    .quote-card {

        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .texto-treinamento {

        width: 330px;
    }

    .quote-text {
        text-align: center;
        width: 275px;
    }
}

#Titulo-Programa {

    opacity: 0;
    transform: translateY(150px);


    animation: subir-e-aparecer 0.8s forwards ease-out;
    animation-delay: 0.6s;
}

#Sub-Titulo {

    opacity: 0;
    transform: translateY(150px);


    animation: subir-e-aparecer 0.8s forwards ease-out;
    animation-delay: 1.2s;
}

#Sub-Abaixo-Titulo {


    opacity: 0;
    transform: translateY(150px);


    animation: subir-e-aparecer 0.8s forwards ease-out;
    animation-delay: 1.8s;
}

@keyframes subir-e-aparecer-texto {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes subir-e-aparecer {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}